@using OnlineShopMVC.Services;
@{
    ViewData["Title"] = "Html Helpers";
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>

    @Html.CreateCustomHeader("Header html helper", new StyleInfo("#806703", "cursive", 30))

    <br><br>

    <h4>Date html helper:</h4>
    @Html.CreateCurrentDate("green")
    @Html.CreateCurrentDate("navy", true)

    <br><br>

    <h4>Email html helper:</h4>
    @Html.CreateEmailLink("someone", new StyleInfo("#0080ab", "sans-serif", 20))

    <br><br>

    <h4>Product info html helper:</h4>
    @{
        Product chicken = new Product("Chicken", 3884, "Voonyx", "In felis", 378);
    }
    @Html.CreateProductInfo(chicken)

    <br><br>

    <h4>Product list html helper:</h4>
    @{
        List<Product> products = new List<Product>
{
            new Product("Chicken", 3884, "Voonyx", "In felis", 378),
            new Product("Kippers", 7499, "Skipfire", "Mi", 207),
            new Product("Pork", 2191, "Gabtype", "Nisl", 186),
            new Product("Soup", 6631, "Yodoo", "Scelerisque quam", 128),
            new Product("Sweater", 8836, "Gabtype", "Quis", 496),
            new Product("Trueblue", 4009, "Skipfire", "Nunc", 338),
            new Product("Truffle Cups", 1740, "Tagtune", "Aenean auctor", 441)
        };
    }
    @Html.CreateProductList(products, 18)
</div>
